<form class="form-horizontal form-complex">

    <div class="control-group">
        <label class="control-label" for="myemail_recipients" style="width: 100px;padding-right: 10px;">
            Email-адрес получателя сообщения:
            <span class="required">*</span>
        </label>
        <div class="controls">
            <textarea type="text" name="action.myemail.param.email_recipients" id="email_recipients" rows=3></textarea>
            <span class="help-block">
                Адреса получателей перечисляются через запятую
            </span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="myemail_subject" style="width: 100px;padding-right: 10px;">
            Приоритет:
            <span class="required">*</span>
        </label>
        <div class="controls">
            <select name=action.myemail.param.priority id="email_priority">
                <option value="highest">Наивысший</option>
                <option value="high">Высокий</option>
                <option selected="selected" value="normal">Средний</option>
                <option value="low">Низкий</option>
                <option value="lowest">Наименьший</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="myemail_subject" style="width: 100px;padding-right: 10px;">
            Тема сообщения:
            <span class="required">*</span>
        </label>
        <div class="controls">
            <textarea name="action.myemail.param.email_subject" id="email_subject" rows=3></textarea>
        </div>
    </div>    

    <div class="control-group">
        <label class="control-label" for="myemail_message" style="width: 100px;padding-right: 10px;text-align: left;">
            Текст сообщения email:
            <span class="required">*</span>
        </label>
        <div class="controls">
            <textarea name="action.myemail.param.email_message" id="email_message" rows=8></textarea>
            <span class="help-block">
                При формировании текста сообщения допускается использование токенов <code>$result.CPU$</code>
            </span>
        </div>
    </div>


</form>